body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
    margin: 0; /* Remove default margin */
}

.content {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #fff;
}
